bokeh
future
matplotlib==2.2.3; python_version <= '2.7'
matplotlib; python_version >= '3.5'
numpy
python-casacore; python_version <= '2.7'
python3-casacore; python_version >='3'
dask
xarray
xarray-ms
holoviews
datashader